.our-services_home{
  background-color: #5A6D70;
  .os_home_container{
    display: flex;
    @media screen and (max-width:1050px) {
      display: block;
    }
    .left{
      width: 50%;
      margin: auto;
      padding-right: 3rem;
      padding-left: 3rem;
      @media screen and (max-width:1050px) {
        width: 100%;
      }
    }
    .right{
      .cards{
        display: grid;
        grid-template-columns: repeat(2, 400px);
        grid-template-rows: repeat(2, 400px);

        @media screen and (max-width: 1260px) {
          grid-template-columns: repeat(2, 350px);
          grid-template-rows: repeat(2, 350px);
        }

        @media screen and (max-width: 1050px) {
          grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 460px){
          display: block;
        }

        .card-outer{
          display: flex;
          padding: 2rem;
          height: 100%;
        }
        .card{
          margin: auto;
          text-align: center;
        }
      }
    }
  }
}