// breakpoints
$md: 900px;
// 950px
$lg: 1080px;
$xl: 1100px;
$xxl: 1390px;

// utility classes

/* reset */
*, *::after, *::before {
  box-sizing: border-box;
}

:root{
  scroll-behavior: smooth;
}

body{
  font-size: 16px;
}

.container{
  max-width: 1440px;
}

.p-abs{
  position: absolute;
}
.p-rel{
  position: relative;
}

// spacing
.p-0{padding: 0;}
.px-0{
  padding-left: 0;
  padding-right: 0;
}
.py-0{
  padding-top: 0;
  padding-bottom: 0;
}
.p-1{padding: 1rem;}
.p-2{padding: 2rem;}
.p-3{padding: 3rem;}

.m-0{margin: 0;}
.mx-0{
  margin-left: 0;
  margin-right: 0;
}
.my-0{
  margin-top: 0;
  margin-bottom: 0;
}
.m-1{margin: 1rem;}
.m-2{margin: 2rem;}
.m-3{margin: 3rem;}

.pt-0{
  padding-top: 0rem;
}
.pt-1{
  padding-top: 1rem;
}
.pt-2{
  padding-top: 2rem;
}
.pt-3{
  padding-top: 3rem;
}
.pb-0{
  padding-bottom: 0rem;
}
.pb-1{
  padding-bottom: 1rem;
}
.pb-2{
  padding-bottom: 2rem;
}
.pb-3{
  padding-bottom: 3rem;
}
.pb-4{
  padding-bottom: 4rem;
}
.pl-1{
  padding-left: 1rem;
}
.pl-2{
  padding-left: 2rem;
}
.pr-1{
  padding-right: 1rem;
}
.pr-2{
  padding-right: 2rem;
}
.px-1{
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-2{
  padding-left: 2rem;
  padding-right: 2rem;
}
.px-3{
  padding-left: 3rem;
  padding-right: 3rem;
}
.py-1{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-2{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py-3{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.py-4{
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.py-5{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.p-auto{
  padding: auto;
}
.px-auto{
  padding-left: auto;
  padding-right: auto;
}
.py-auto{
  padding-top: auto;
  padding-bottom: auto;
}

.mt-0{
  margin-top: 0rem;
}
.mt-1{
  margin-top: 1rem;
}
.mt-2{
  margin-top: 2rem;
}
.mt-3{
  margin-top: 3rem;
}
.my-3{
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.mb-0{
  margin-bottom: 0rem;
}
.mb-1{
  margin-bottom: 1rem;
}
.mb-2{
  margin-bottom: 2rem;
}
.ml-1{
  margin-left: 1rem;
}
.ml-2{
  margin-left: 2rem;
}
.ml-3{
  margin-left: 3rem !important;
}
.mr-1{
  margin-right: 1rem;
}
.mr-2{
  margin-right: 2rem;
}
.mr-3{
  margin-right: 3rem;
}
.mx-1{
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-2{
  margin-left: 2rem;
  margin-right: 2rem;
}
.my-1{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-2{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.m-auto{
  margin: auto;
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.my-auto{
  margin-top: auto;
  margin-bottom: auto;
}

.in-block{ display: inline-block;}
.block{ display: block;}

.flex {display: flex;}
.inline-flex	{display: inline-flex;}
.flex-wrap	{flex-wrap: wrap;}
.flex-nowrap	{flex-wrap: nowrap;}
.flex-column	{flex-direction: column;}
.flex-column-reverse	{flex-direction: column-reverse;}
.flex-row	{flex-direction: row;}
.flex-row-reverse	{flex-direction: row-reverse;}
.flex-center	{justify-content: center; align-items: center;}
.align-center	{align-items: center;}
.flex-between	{justify-content: space-between;}

// gap
.gap-0-5{
  gap: 0.5rem;
}
.gap-1-5{
  gap: 1.5rem;
}
.gap-1{
  gap: 1rem;
}

.gap-2{
  gap: 2rem;
}

.min-w-fit{
  min-width: fit-content;
}

.flex-grow	{flex-grow: 1;}
.flex-grow-0	{flex-grow: 0;}
.flex-shrink	{flex-shrink: 1;}
.flex-shrink-0	{flex-shrink: 0;}
.flex-basis-0	{flex-basis: 0;}

.text-light{ color: #fff; }
.text-dark{ color: #000; }
.text-center{ text-align: center; }
.text-gold{ color: #D9C78E; }
// bg
.bg-light{ background-color: #fff; }
.bg-dark{ background-color: #292929; }
.bg-primary{ background-color: #334B4E; }
.bg-gold{ background-color: #D9C78E; }

.btn{
  border-radius: 500px;
  padding: 0.5rem 2rem;
  text-decoration: none;
  @media screen and (max-width:400px) {
    font-size: 14px;
  }
}

.btn-underlined{
  color: #B9DCD5;
  text-decoration: none;
  margin-bottom: 1rem;
  border-bottom: 1px solid #B9DCD5;
  padding-bottom: 0.7rem;
  font-size: 18px;
  @media screen and (max-width:400px) {
    font-size: 14px;
  }
}

.btn-primary{
  border: 1px solid #fff;
  @extend .text-light;
  @extend .bg-primary;
  font-size: 18px;
}

.btn-primary-trans{
  border: 1px solid #fff;
  @extend .text-light;
  background-color: transparent;
  font-size: 18px;
}

.btn-dark{
  border: 1px solid #000;
  color: #000;
  @extend .text-light;
  background-color: transparent;
  font-size: 18px;
}

.btn-light{
  @extend .bg-light
}

.our-products{
  padding: 2rem 0 8rem 0;
  @media screen and (max-width: 900px) {
    padding: 2rem;
  }
  .text{
    max-width: 690px;
  }
  .cards{
    display: flex;
    gap: 2rem;
    padding: 0 2rem;
    @media screen and (max-width: 900px) {
      display: block;
      padding: 2rem;
    }
    // flex-wrap: wrap;
    .card{
      max-width: 410px;
      width: 50%;
      p{
        @media screen and (max-width: 900px) {
          font-size: 1.2rem;
        }
      }
      @media screen and (max-width: 900px) {
        width: 100%;
        max-width: 700px;
        margin-bottom: 3rem;
      }
      .card-img-wrapper{
        img{
          width: 100%;
          object-fit: cover;
          border-radius: 8px;
        }
      }

      .card-meta{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        max-height: 215px;
        a{
          display: block !important;
          width: max-content;
        }
      }
    }
  }
}

.nav-new{
  font-size: 16px;
  ul{
    li{
      list-style-type: none;
      a{
        &:hover{
          text-decoration: underline;
        }
        text-decoration: none;
      }
    }
  }
}

// typography
main{
  font-family: "Kumbh Sans", sans-serif;
  // &.home{
    h1{
      font-size: 58px;
      @media screen and (max-width:900px) {
        font-size: 50px;
      }
      @media screen and (max-width:600px) {
        font-size: 48px;
      }
      @media screen and (max-width:560px) {
        font-size: 40px;
      }
      @media screen and (max-width:460px) {
        font-size: 35px;
      }
    }
    h2{
      font-size: 46px;
      @media screen and (max-width:900px) {
        font-size: 36px;
      }
    }
    h3{
      font-size: 28px;
      @media screen and (max-width:900px) {
        font-size: 20px;
      }
    }
    h4{
      font-size: 20px;
      @media screen and (max-width:900px) {
        font-size: 16px;
      }
    }
    p{
      font-size: 17.5px;
      @media screen and (max-width:900px) {
        font-size: 16px;
      }
      @media screen and (max-width:460px) {
        font-size: 16px;
      } 
    } 
}

.flax-and-teal-badge{
  width: 75px;
}

.footer-new{
  height: 682px;
  @media screen and (max-width: 1130px) {
    height: 100%;
  }
  .address{
    max-width: 120px;
    line-height: 1.8;
  }
  .left{
    width: 60%;
    @media screen and (max-width: 1390px) {
      width: 50%;
    }
    @media screen and (max-width: 1000px) {
      display: none;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .right{
    flex: 1;
    .logo{
      img{
        width: 200px;
      }
    }
  }
}

.footer-note{
  .note{
    line-height: 1.5;
  }
}

.footer-menu-ul{
  margin-top: 4px;
  li{
    margin-bottom: 0.75rem;
    list-style-type: none;
    a{
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.about-us-home{
  background-color: #F1F7F5;
  justify-content: space-between;
  @media screen and (max-width: 830px) {
    display: block;
  }
  .about-us-home-inner{
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 950px) {
      display: block;
    }
    .left{
      width: 50%;
      margin: auto;
      @media screen and (max-width: 1100px) {
        margin: auto;
      }
      @media screen and (max-width: 950px) {
        width: 100%;
        max-width: var(--mw-content);
        padding: 6rem 0 3rem 0;
        margin-left: 0;
        margin-right: 0;
      }
      p{
        @media screen and (max-width: 950px) {
          max-width: 100%;
        }
      }
    }
    .right{
      flex: 1;
      padding: 3rem;
      @media screen and (max-width: 950px) {
        padding: 3rem 0;
      }

      img{
        width: 100%;
        max-width: 500px;
        border-radius: 50%;
        object-fit: cover;
        float: right;
        @media screen and (max-width: 950px) {
          max-width: 500px;
          flex: unset;
          float: unset;
        }
      }
    }
    
  }
}

// fonts

/* math */
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/kumbh-sans/kumbh-sans-1.woff2) format('woff2');
  unicode-range: U+0302-0303, U+0305, U+0307-0308, U+0330, U+0391-03A1, U+03A3-03A9, U+03B1-03C9, U+03D1, U+03D5-03D6, U+03F0-03F1, U+03F4-03F5, U+2034-2037, U+2057, U+20D0-20DC, U+20E1, U+20E5-20EF, U+2102, U+210A-210E, U+2110-2112, U+2115, U+2119-211D, U+2124, U+2128, U+212C-212D, U+212F-2131, U+2133-2138, U+213C-2140, U+2145-2149, U+2190, U+2192, U+2194-21AE, U+21B0-21E5, U+21F1-21F2, U+21F4-2211, U+2213-2214, U+2216-22FF, U+2308-230B, U+2310, U+2319, U+231C-2321, U+2336-237A, U+237C, U+2395, U+239B-23B6, U+23D0, U+23DC-23E1, U+2474-2475, U+25AF, U+25B3, U+25B7, U+25BD, U+25C1, U+25CA, U+25CC, U+25FB, U+266D-266F, U+27C0-27FF, U+2900-2AFF, U+2B0E-2B11, U+2B30-2B4C, U+2BFE, U+FF5B, U+FF5D, U+1D400-1D7FF, U+1EE00-1EEFF;
}

/* symbols */
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/kumbh-sans/kumbh-sans-2.woff2) format('woff2');
  unicode-range: U+0001-000C, U+000E-001F, U+007F-009F, U+20DD-20E0, U+20E2-20E4, U+2150-218F, U+2190, U+2192, U+2194-2199, U+21AF, U+21E6-21F0, U+21F3, U+2218-2219, U+2299, U+22C4-22C6, U+2300-243F, U+2440-244A, U+2460-24FF, U+25A0-27BF, U+2800-28FF, U+2921-2922, U+2981, U+29BF, U+29EB, U+2B00-2BFF, U+4DC0-4DFF, U+FFF9-FFFB, U+10140-1018E, U+10190-1019C, U+101A0, U+101D0-101FD, U+102E0-102FB, U+10E60-10E7E, U+1D2C0-1D2D3, U+1D2E0-1D37F, U+1F000-1F0FF, U+1F100-1F1AD, U+1F1E6-1F1FF, U+1F30D-1F30F, U+1F315, U+1F31C, U+1F31E, U+1F320-1F32C, U+1F336, U+1F378, U+1F37D, U+1F382, U+1F393-1F39F, U+1F3A7-1F3A8, U+1F3AC-1F3AF, U+1F3C2, U+1F3C4-1F3C6, U+1F3CA-1F3CE, U+1F3D4-1F3E0, U+1F3ED, U+1F3F1-1F3F3, U+1F3F5-1F3F7, U+1F408, U+1F415, U+1F41F, U+1F426, U+1F43F, U+1F441-1F442, U+1F444, U+1F446-1F449, U+1F44C-1F44E, U+1F453, U+1F46A, U+1F47D, U+1F4A3, U+1F4B0, U+1F4B3, U+1F4B9, U+1F4BB, U+1F4BF, U+1F4C8-1F4CB, U+1F4D6, U+1F4DA, U+1F4DF, U+1F4E3-1F4E6, U+1F4EA-1F4ED, U+1F4F7, U+1F4F9-1F4FB, U+1F4FD-1F4FE, U+1F503, U+1F507-1F50B, U+1F50D, U+1F512-1F513, U+1F53E-1F54A, U+1F54F-1F5FA, U+1F610, U+1F650-1F67F, U+1F687, U+1F68D, U+1F691, U+1F694, U+1F698, U+1F6AD, U+1F6B2, U+1F6B9-1F6BA, U+1F6BC, U+1F6C6-1F6CF, U+1F6D3-1F6D7, U+1F6E0-1F6EA, U+1F6F0-1F6F3, U+1F6F7-1F6FC, U+1F700-1F7FF, U+1F800-1F80B, U+1F810-1F847, U+1F850-1F859, U+1F860-1F887, U+1F890-1F8AD, U+1F8B0-1F8B1, U+1F900-1F90B, U+1F93B, U+1F946, U+1F984, U+1F996, U+1F9E9, U+1FA00-1FA6F, U+1FA70-1FA7C, U+1FA80-1FA88, U+1FA90-1FABD, U+1FABF-1FAC5, U+1FACE-1FADB, U+1FAE0-1FAE8, U+1FAF0-1FAF8, U+1FB00-1FBFF;
}

/* latin-ext */
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/kumbh-sans/kumbh-sans-3.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/kumbh-sans/kumbh-sans-4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.kumbh-sans-600 {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
}

.kumbh-sans-400 {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
}
