body{
  position: relative;
}

#circle-wrapper{
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateY(70px);
  opacity: 0;
  position: fixed;
  left: 0;
  z-index: 2;
  right: 0;
  scale: 80%;
  pointer-events: none;
  &.active{
    opacity: 1;
    transform: translateX(0);
  }
}

#circle { 
  position: relative; 
  width: 100%; 
  left: 55%;
  bottom: -440px; 
  padding-bottom: 100%; 
  overflow: hidden; 
  @media screen and (max-width: 1000px) {
    bottom: -600px; 
    left: 40%;
  }
}

#circle text { 
  font-size: 10px; 
  font-weight: bolder;
  letter-spacing: 0.6ch;
}

#circle svg { position: absolute; 
  left: 100px; 
  top: 0; 
  width: 80%; 
  height: 400px;
  
  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 25s;
     -moz-animation-duration: 25s;
      -ms-animation-duration: 25s;
       -o-animation-duration: 25s;
          animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}

