<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flax &amp; Teal - Software Development | Data Science | Consultancy - Open Source in Business</title>
  <meta charset="UTF-8"/>
  
  {{ $style := resources.Get "sass/style.scss" | css.Sass | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  
  {{$script := resources.Get "/js/main.js"}}
  <script defer src="{{$script.RelPermalink}}"></script>
</head>
<body style="display: block">
  {{ if not .IsPage}}
  {{ partial "open-for-business.html" . }}
  {{ end }}
  {{ block "main" . }}{{ end }}
</body>
</html>