<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flax &amp; Teal Limited</title>
     <meta charset="UTF-8"/>
    <link rel='stylesheet' href='{{ .Site.BaseURL }}fonts/league-gothic/stylesheet.css' />
    <link rel='stylesheet' href='{{ .Site.BaseURL }}fonts/league-spartan/stylesheet.css' />
    {{ $style := resources.Get "sass/style.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  <body>
    <div id='pg2'>
      <div id='pg2-child'>
        <div id='pg2-menu'>
            <div id='pg2-logo'>
                <img src='{{ .Site.BaseURL }}images/logo.png' />
            </div>
            <div id='pg2-items'>
                {{ partial "nav.html" . }}
            </div>
        </div>
        <div id='pg2-body'>
          <div id='pg2-title'>
{{.Content}}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
