$break-large: 1080px;
$break-xlarge: 1080px;

html, body {
  height: 100%;
}

body {
  display: flex;

  font-size: 35px;
  @media screen and (min-width: $break-large) {
    font-size: 14px;
  }
}

#pg2 {

  width: 100%;
  flex: 1;
  font-family: "League Gothic";
  #pg2-child {
    background-image: url('../images/belfast-lough.jpg');
    background-position: center bottom;
    background-size: 2000px;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 1300px;

    #pg2-menu {
      padding-top: 20px;
      width: 100%;
      text-align: center;

      #pg2-logo {
        img {
          width: 100%;
          left: 0px;
          right: 0px;
          margin: auto;
        }
        width: 50%;
        min-width: 200px;
        @media screen and (min-width: $break-large) {
          width: 10%;
        }
        display: inline-block;
      }
      #pg2-items {
        display: inline-block;
        height: 100px;
        width: 80%;
        @media screen and (min-width: $break-large) {
          text-align: left;
        }
        ul {
          display: inline-block;
          left: 0px;
          width: 100%;
          padding-bottom: 20px;
          display: inline-block;
          text-transform: uppercase;
          color: #49696c;
          font-size: 150%;
          padding-left: 0px;

          li {
            text-align: left;
            vertical-align: middle;
            margin-bottom: 30px;
            img {
              height: 50px;
              @media screen and (min-width: $break-large) {
                height: 20px;
              }
              padding-right: 5px;
              display: inline-block;
            }
            a {
              color: #709090;
              text-decoration: inherit;
              display: inline-block;
            }
            white-space: nowrap;
            list-style: none;
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            @media screen and (min-width: $break-xlarge) {
              padding-left: 25px;
              padding-right: 25px;
            }
          }
        }
      }
    }

    #pg2-body {
      padding-bottom: 100%;
      @media screen and (min-width: $break-large) {
        padding-bottom: 42%;
      }
      text-align: center;

      #pg2-title {
        position: relative;
        padding-top: 2%;
        display: inline-block;
        font-family: "League Spartan";
        font-size: 70%;

        @media screen and (min-width: $break-large) {
          font-size: 100%;
        }

        h1 {
          width: 100%;
          color: #49696c;
          font-size: 500%;

          .highlight {
            color: #a58f67;
          font-size: 70%;
          }
        }

        #pg2-down-link {
          display: block;
          text-align: center;

          a {
            color: #9ab;
            text-decoration: inherit;
            display: inline-block;
          }

          h3 {
            width: 100%;
            margin: 0;
            color: #abc;
            font-size: 200%;
          }

          p {
            padding-top: 30px;
            display: inline-block;
            max-width: 80%;
            color: #789;
            font-size: 125%;
          }

          img {
            margin-top: 20px;
            height: 200px;
          }
        }
      }
    }
  }
}
