<section class="contact bg-gold">
  <div class="container contact-wrapper">
    <div class="left">
      <h2>{{.heading}}</h2>
      <p>{{.text}}</p>
    </div>
    <form id="contact-form-section" class="right">
      <div class="mb-1">Name (required)</div>
      <div class="form-control">
        <div class="form-input-wrapper">
          <label for="contact-form_first-name">First Name</label>
          <input id="contact-form_first-name" name="first-name" type="text" class="mt-1">
        </div>
        <div class="form-input-wrapper">
          <label for="contact-form_last-name">Last Name</label>
          <input id="contact-form_last-name" name="last-name" type="text" class="mt-1">
        </div>
      </div>

      <div class="form-control">
        <div style="width: 100%;" class="">
          <label for="contact-form_email">Email (required)</label>
          <input id="contact-form_email" name="email" type="email" class="mt-1">
        </div>
      </div>

      <div class="flex contact-form_sign-up_prompt">
        <input type="checkbox" name="sign-up" id="contact-form_sign-up" class="mb-2">
        <label for="contact-form_sign-up">Sign up for news and updates</label>
      </div>

      <div class="form-control">
        <div style="width: 100%;" class="">
          <label for="contact-form_subject">Subject (required)</label>
          <input id="contact-form_subject" name="subject" type="text" class="mt-1">
        </div>
      </div>

      <div class="form-control">
        <div style="width: 100%;" class="">
          <label for="contact-form_message">Message (required)</label>
          <textarea id="contact-form_message" name="subject" type="text" class="mt-1"></textarea>
        </div>
      </div>

      <button class="bg-primary" id="contact-form_btn-submit">Submit</button>
    </form>
  </div>
</section>