<!-- START Formbricks Surveys -->
<script type="text/javascript">
  !function(){
    var apiHost = "https://app.formbricks.com";
    var environmentId = "clyrcr6ol000bu3g6a64qwwpe";
      var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=apiHost+"/api/packages/website";var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e),setTimeout(function(){window.formbricks.init({environmentId: environmentId, apiHost: apiHost})},500)}();
  </script>
  <!-- END Formbricks Surveys -->
  