<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flax &amp; Teal - Software Development | Data Science | Consultancy - Open Source in Business</title>
     <meta charset="UTF-8"/>
    <link rel='stylesheet' href='/fonts/league-gothic/stylesheet.css' type='text/css' />
    <link rel='stylesheet' href='/fonts/league-spartan/stylesheet.css' type='text/css' />
    {{ $style := resources.Get "sass/style.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
