<section class="home-services flex">
  <div style="height: 100%;" class="left m-auto">
    <h3 class="text-light">{{.heading}}</h3>
    <p class="mb-2 text-light">{{.text | markdownify}}</p>
    <a class=" btn btn-primary-trans" href="{{.cta_link}}">{{.cta}}</a>
  </div>
  <div class="right">
    <div class="cards">
      {{ range .cards }}
        <div class="card">
          <img width="64" height="64" src="{{.icon}}" alt="an icon representing {{.title}}">
          <h3>{{.title}}</h3>
          <p>{{.text}}</p>
        </div>
      {{ end }}
    </div>
  </div>
</section>

<style>

</style>