<!-- nav start -->
              <nav class="sidebar-nav">
                <ul>
                  {{ $currentPage := . }}
                  {{ range .Site.Menus.main }}
                  <li><a class="nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
                  {{ end }}

                </ul>
                <ul>
                  <li><a href="https://twitter.com/flaxandteal"><span class="twitter"></span></a></li>
                  <li><a href="https://github.com/flaxandteal"><span class="github"></span></a></li>
                  <li><a href="https://linkedin.com/company/flax-&-teal-limited"><span class="linkedin"></span></a></li>
                  <li><a href="https://youtube.com/channel/UCbF1nWNmlZ7e9AlKqijw5HA"><span class="youtube"></span></a></li>
                </ul>
              </nav>
