<section {{with .ctx.bg_color}} {{printf "style='background-color:%s;'" . | safeHTMLAttr}} {{end}} class="lrx2_swapped our-services-about bg-primary py-3">
  <div class="container">
    <div class="left">
      <h2>{{ .ctx.heading | markdownify }}</h2>
      <p>{{ .ctx.text | markdownify }}</p>
      <div class="mt-3">
        <a class="btn btn-dark" href="{{.ctx.cta_link}}">{{.ctx.cta}}</a>
      </div>
    </div>
    <div class="right">
      <img src="{{.ctx.img_src}}" alt="{{ .ctx.img_alt | default (printf "an image that represents %s" (.ctx.heading | lower) )}}">
    </div>
  </div>
</section>