<section class="product_products text-light" {{with .ctx.bg_color}} {{printf "style='background-color:%s;'" . | safeHTMLAttr}} {{end}}>
  <div class="container mx-auto">
    <div style="{{if .ctx.reverse}}flex-direction: row-reverse;{{end}}" class="product-wrapper">
      <div class="left">
        <h2 id="{{.ctx.heading | urlize}}" style="color: #B9DCD5;">{{.ctx.heading}}</h2>
        <h4>{{.ctx.subheading}}</h4>
        {{ index (split .content "<hr>") .ctx.order | markdownify }}
       <div class="mt-2">
          <a class="btn-underlined" href="{{.ctx.cta_link}}">{{.ctx.cta}}</a>
       </div>
      </div>
      <div class="right">
        <img src="{{.ctx.img}}" alt="an image depicting {{ .ctx.heading | lower }}">
      </div>
    </div>
  </div>
</section>