<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flax &amp; Teal Limited</title>
     <meta charset="UTF-8"/>
    <link rel='stylesheet' href='fonts/league-gothic/stylesheet.css' />
    <link rel='stylesheet' href='fonts/league-spartan/stylesheet.css' />
    {{ $style := resources.Get "sass/style.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  <body>
    <div id='pg2'>
      <div id='pg2-child'>
        <div id='pg2-menu'>
            <div id='pg2-logo'>
                <img src='images/logo.png' />
            </div>
            <div id='pg2-items'>
              <nav class="sidebar-nav">
                <ul>
                  {{ $currentPage := . }}
                  {{ range .Site.Menus.main }}
                  <li><a class="nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
                  {{ end }}

                  <li><span>Science</span></li>
                  <li><span>Technology</span></li>
                  <li><span>International</span></li>
                </ul>
                <ul>
                  <li><a href="https://twitter.com/flaxandteal"><span class="twitter">[@flaxandteal]</span></a></li>
                  <li><a href="https://github.com/flaxandteal"><span class="github">[github/flaxandteal]</span></a></li>
                </ul>
              </nav>
            </div>
        </div>
        <div id='pg2-body'>
          <div id='pg2-title'>
{{.Content}}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
